############################
# 1. 기본: 전부 무시
############################
*

############################
# 2. 디렉토리는 추적 허용
############################
!*/

############################
# 3. 허용 파일 (메타데이터만)
############################
!*.xmp
!*.xml
!.gitignore
!README.md
